// Define variables for your color scheme

// For example:
$gray: #929aab;
$blue: #003153;
$green: #5ea3a3;
$yellow: #daa520;
$red: #974949;
$orange: #ff7657;
$tan: #dfd3c3;
$brown: #c7b198;
$white: #f0ece2;
$dark-grey: #4C5B5C;

.color-sample {
  width: 100px;
  height: 100px;
}

.div-with-flex {
  display: flex;
}

.gray {
  background-color: $gray;
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}
.yellow {
  background-color: $yellow;
}

.red {
  background-color: $red;
}

.orange {
  background-color: $orange;
}

.tan {
  background-color: $tan;
}

.brown {
  background-color: $brown;
}

.white  {
  background-color: $white;
}

.dark-grey {
  background-color: $dark-grey;
}


