.show-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  column-gap: 50px;
}

.show-layout-img {
  max-width: 45vw;
  max-height: 80vh;
  border-radius: 30px;
  box-shadow: 3px 3px 2px $gray;
}

.show-layout-column:first-child {
  text-align: center;
}

.show-border {
  border: 1.5px solid;
  border-color: $yellow;
  padding: 10px 15px;
}
