.show-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  column-gap: 50px;
}

.show-layout-img {
  max-width: 45vw;
  max-height: 80vh;
}

.show-layout-column:first-child {
  text-align: center;
}

.show-border {
  border: 1px solid;
  border-color: $yellow;
  padding-left: 5px;
}

.img-radius {
  border-radius: 20px;
}
