<div class="base-line blue-font">
  <div class="base-line-content">
    <h1>Beautiful Unique Artifacts.</h1>
    <h3>Verified for authenticity and quality.</h3>
      <p>Antiquities Direct is an exceptional collection of the highest quality, authentic artifacts from all over the world. Every artifact is unique and original to it's roots and previous owners going back centuries and even milleniums in time.</p>


     <p>History at your finger tips with a 100% on time delivery guarantee.</p>
  </div>
</div>
