.base-line {
  padding: 50px;
  text-align: center;

}

.base-line-content {
  max-width: 60%;
  margin: auto;
    h1 {
      margin: 18px;
    }
    h3 {
      margin: 18px;
    }
}

.blue-font {
  color: $blue;
}

.gold-background {
  background-color: $yellow;
}
