
.btn-treehouse {
  color: $tan;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #974949;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: $yellow;
  text-decoration: none;
  color: $blue;
}

// (other button in case we like this better for the home page)
// btn btn-primary btn-lg
