/* Main navbar */
.navbar-antiquities {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $blue;

  transition: all 0.3s ease;
  height: 100px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-home {
  position: absolute;
  top: 0px;
  background: transparent;

}

/* Logo */
.navbar-antiquities-brand img {
  height: 100px;
  // border-radius: 45%;
}

/* User Avatar */
.navbar-antiquities .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-color: #E6E6E6;
}

/* Right section */
.navbar-antiquities-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-antiquities-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
// Attempt to try to add effect to hover in navbar 1/4

.navbar-antiquities-link {
  color: $yellow;
  font-size: 25px;
  text-decoration: none;
  position: relative;
}

// Attempt to try to add effect to hover in navbar 2/4

.navbar-antiquities-link:hover {
  color: $tan;
  text-decoration: none;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
// Attempt to try to add effect to hover in navbar 3/4
.navbar-antiquities-link:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $tan;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
// Attempt to try to add effect to hover in navbar 4/4
.navbar-antiquities-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Dropdown menu */
.navbar-antiquities-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-antiquities-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-antiquities-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-antiquities-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: $tan;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
