
<div class="container">
  <h1>Artifacts</h1>
    <div class="row">
      <!-- Insert card here -->
      <div class="col-xs-12 col-sm-4 offset-sm-4">
        <% @artifacts.each do |artifact| %>
          <h2><%= artifact.name %></h2>
          <p><%= artifact.photo %></p>
        <% end %>
      </div>
    </div>
  </div>

