
  <div class="row">
    <div class="container">
      <h1 class="">Add Your Artifact</h1>
    </div>
  </div>
  <hr>
  <div class="new-artifact-grid">
    <div class="new-artifact-form">
      <%= render 'shared/add_artifact' %>
    </div>
    <div class="new-artifact-image">
      <br><br>* Some image here <br><br>* Or other content related to how to fill out the form <br><br><br>

<div class="new-artifact-disclaimer"
        <ul>
          <h3>Your boat is safe.</h3>
          <li>All rentals are fully insured by Artiflex up to 3.000.000 €. Artiflexflex is eligible for coverage at no additional cost and your own insurance will never be affected.</li>
      <h3>You are always in control</h3>
         <li>You always have the final word by accepting or declining a rental request with the click of a button. You choose what renters you are confident with.</li>

      <h3>Professional support</h3>
          We're here for you whenever you need us. Drop us a line at support@antiquity-direct.com.</li>
        </ul>
    </div>