  <div class="row">
    <div class="container">
      <h1 class="">Add Your Artifact</h1>
    </div>
  </div>
  <hr>
  <div class="new-artifact-grid">
    <div class="new-artifact-form">
      <%= render 'shared/add_artifact' %>
    </div>
    <div class="new-artifact-image">
      <br><br>* Some image here <br><br>* Or other content related to how to fill out the form <br><br><br>
    </div>

    <div class="new-artifact-disclaimer">
      <p>disclaimer here</p>
    </div>

  </div>
