<div class="row">
  <div class="container">
    <h1 class="">Add Your Artifact for Rent!</h1>
  </div>
</div>
<hr>
<i class="fas fa-glass-martini-alt"></i>
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-sm-offset-1" style="outline:red dotted 1px;">
      <%= render 'shared/add_artifact' %>
    </div>

    <div class="col-xs-12 col-sm-4" style="outline:blue dotted 1px;">
      <div class="" style="background-image:url('https://www.visitorange.com.au/images/events/images/Antique%20Fair%20Image.jpg');overflow: hidden;">
        <img src="https://www.visitorange.com.au/images/events/images/Antique%20Fair%20Image.jpg" alt="image of a valuable artifact" class="">
      </div>
    </div>
  </div>
