<div class="row">
  <div class="container">
    <h1 class="">Add Your Artifact!</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1" style="outline:red dotted 1px;">
      <%= render 'shared/add_artifact' %>
    </div>

    <div class="col-xs-12 col-sm-4" style="outline:blue dotted 1px;">
      <br><br>* Some image here <br><br>* Or other content related to how to fill out the form <br><br><br>
    </div>
  </div>
</div>
