<h1><%= @artifact.name %></h1>

<div class="container">
  <%= image_tag(@artifact.photo) %>
</div>
<!-- <p>Find me in app/views/artifacts/show.html.erb</p>
 -->
If you see this, then the first test of the 'new' form worked
