<h1><%= @artifact.name %></h1>
 <!--   -->

<div class="container">
  <a href="#" style="width:70px"><%= image_tag(@artifact.photo) %></a>
</div>
<%= @artifact.price %>
<input type="submit" name="book" value="Book" class="btn">
If you see this, then the first test of the 'new' form worked
<!-- <p>Find me in app/views/artifacts/show.html.erb</p> -->
